{
  "extends": "../.eslintrc",
  "plugins": ["@idealjs/reactive"],

  "rules": {
    "@idealjs/reactive/no-nested-derive-call": "error",
    "@idealjs/reactive/no-state-created-in-derive": "error"
  }
}
